body {
  font-family: "Antic Didone", serif;
}
.nav {
  display: flex;
  padding: 16px;
}
.nam__logo {
  font-size: 24px;
}
.main,
.footer {
  padding: 16px;
  max-width: 1800px;
}
.main h1 {
  font-size: 40px;
  font-weight: normal;
  padding: 0 12px 24px;
}
.main__info {
  width: 100%;
  margin: 64px auto 64px 0;
}
.main__info p {
  font-size: 28px;
  line-height: 36px;
}
.main__work-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto 0 0;
}
.main__work-item-left {
  width: 100%;
}
.main__work-item-left h3 {
  font-size: 28px;
  margin: 16px 0 32px;
  font-weight: normal;
}
.main__work-item-left span {
  font-size: 16px;
  font-weight: normal;
}
.main__work-item-left h3 a {
  color: #1F2937;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid #1F2937;
}
.main__work-item-left h3 a:hover {
  border-bottom: 2px solid #1F2937;
}
.main__work-item-right {
  width: 100%;
  margin: 32px 0 0;
}
.main__work-item-right p {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 0 64px;
}
.footer__logo img {
  height: 200px;
}
.footer__logo a {
  color: #1F2937;
}
.footer_links {
  margin-bottom: 80px;
  font-size: 18px;
  text-align: center;
}
.footer_links a {
  color: #1F2937;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    padding: 32px 56px;
  }
  .nam__logo {
    font-size: 32px;
  }
  .main,
  .footer {
    padding: 32px 56px;
  }
  .main .hero {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
  }
  .main .me {
    display: block;
    height: 320px;
    margin-top: calc(100vh - 55%);
  }
  .main h1 {
    font-size: 64px;
    font-weight: normal;
    padding: 0 48px 48px;
    margin-top: 14px;
  }
  .main__info {
    width: 80%;
    margin: 112px auto 0 0;
  }
  .main__info p {
    font-size: 32px;
    line-height: 50px;
  }
  .main__work-item {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 112px auto 0 0;
  }
  .main__work-item-left {
    width: 50%;
  }
  .main__work-item-left h3 {
    font-size: 32px;
    margin: 16px 0;
    font-weight: normal;
  }
  .main__work-item-left span {
    font-size: 18px;
    font-weight: normal;
  }
  .main__work-item-left h3 a {
    color: #1F2937;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid #1F2937;
  }
  .main__work-item-left h3 a:hover {
    border-bottom: 2px solid #1F2937;
  }
  .main__work-item-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }
  .main__work-item-right p {
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 0 32px;
  }
  .footer__logo img {
    height: 80px;
  }
  .footer__logo a {
    color: #1F2937;
  }
  .footer_links {
    margin-bottom: 48px;
    font-size: 18;
  }
  .footer_links a {
    color: #1F2937;
  }
}
